In [1]:
import pandas as pd

base_path = "data/loading_output/GSE54514/"

# Load expression matrix (samples x probes)
expression = pd.read_csv(f"{base_path}expression.csv", index_col=0)

# Load sample info
sample_info = pd.read_csv(f"{base_path}sample_info.csv")

# Load probe-to-gene mapping (optional)
probe_to_gene = pd.read_csv(f"{base_path}probe_to_gene.csv")

In [2]:
# Shape of the datasets
print("Expression shape:", expression.shape)
print("Sample info shape:", sample_info.shape)
print("Probe to gene mapping shape:", probe_to_gene.shape)

Expression shape: (163, 24840)
Sample info shape: (163, 2)
Probe to gene mapping shape: (35280, 2)

In [3]:
expression.head()

,ILMN_2055271,ILMN_2383229,ILMN_1806310,ILMN_1653355,ILMN_2359168,ILMN_1735045,ILMN_1680754,ILMN_1755321,ILMN_1698554,ILMN_1814092,...,ILMN_1673117,ILMN_1685547,ILMN_2348512,ILMN_1743643,ILMN_1656676,ILMN_2371169,ILMN_1701875,ILMN_1786396,ILMN_1653618,ILMN_2137536
GSM1317896,7.478478,7.732890,7.346000,7.541464,7.080655,7.190928,7.043338,7.282018,7.467964,7.253072,...,7.544874,7.085921,7.725375,7.403544,9.052076,10.826351,11.510887,7.748866,7.265069,7.520050
GSM1317897,7.194329,7.091616,7.127377,7.139050,7.076957,7.101918,7.574589,7.151289,7.164247,7.159713,...,7.302628,7.336513,7.182846,7.689322,10.352952,11.409938,12.015053,7.996690,7.173827,7.241760
GSM1317898,7.118431,7.008995,7.147905,7.251543,7.031998,7.064355,7.070183,7.306010,7.277900,7.067508,...,7.048484,7.122465,7.274913,7.498920,9.439990,10.910384,11.717704,8.072896,7.261295,7.426808
GSM1317899,7.286120,7.122940,7.106208,7.241961,7.050389,7.096496,7.110168,7.278481,7.289622,7.224060,...,7.055483,7.104158,7.215575,7.570657,9.394814,10.858485,12.152800,7.796620,7.399535,7.567951
GSM1317900,7.225378,7.035687,7.268438,7.289307,7.099056,7.138676,7.375244,7.279981,7.543007,7.231372,...,7.086588,7.223078,7.218124,7.576488,9.480348,11.233749,12.124186,7.987269,7.235961,7.218149

In [4]:
expression.isna().sum().sum()

0

In [5]:
expression.describe()

,ILMN_2055271,ILMN_2383229,ILMN_1806310,ILMN_1653355,ILMN_2359168,ILMN_1735045,ILMN_1680754,ILMN_1755321,ILMN_1698554,ILMN_1814092,...,ILMN_1673117,ILMN_1685547,ILMN_2348512,ILMN_1743643,ILMN_1656676,ILMN_2371169,ILMN_1701875,ILMN_1786396,ILMN_1653618,ILMN_2137536
count,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,...,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000,163.000000
mean,7.196231,7.110817,7.125225,7.291736,7.090304,7.092826,7.113145,7.238104,7.317045,7.161316,...,7.098013,7.179799,7.249281,7.659843,9.732891,10.794154,11.692167,7.994762,7.383200,7.516389
std,0.110038,0.085517,0.116500,0.167868,0.055472,0.080691,0.101748,0.090173,0.158493,0.085581,...,0.104411,0.073992,0.116298,0.165896,0.451911,0.541174,0.524505,0.244783,0.163337,0.187968
min,6.956534,6.949070,6.937917,7.028317,6.973245,6.957387,6.912330,7.030849,7.066335,6.975106,...,6.876243,6.966093,7.023914,7.187909,8.532427,9.025887,9.880863,7.310990,7.031849,7.120194
25%,7.128342,7.059811,7.066124,7.189254,7.049623,7.044369,7.043459,7.167052,7.237894,7.100077,...,7.032359,7.122909,7.180336,7.570475,9.446246,10.571803,11.392863,7.865601,7.263182,7.393651
50%,7.184081,7.100916,7.105439,7.243145,7.085449,7.084888,7.095377,7.239935,7.285680,7.145764,...,7.083838,7.176362,7.227553,7.670552,9.767556,10.867146,11.756077,8.015024,7.381661,7.526270
75%,7.254160,7.139379,7.154292,7.351478,7.121301,7.127545,7.161522,7.292106,7.364621,7.212342,...,7.159639,7.224388,7.284920,7.763901,10.024987,11.129766,12.064464,8.121543,7.491417,7.624109
max,7.760832,7.732890,7.826385,8.301313,7.286322,7.641087,7.722103,7.541574,8.226199,7.534807,...,7.544874,7.414664,7.770849,8.161276,11.008513,12.015053,12.886707,8.583607,7.962920,8.133934

In [6]:
sample_info.head()

       Sample   Status
0  GSM1317896  healthy
1  GSM1317897  healthy
2  GSM1317898  healthy
3  GSM1317899  healthy
4  GSM1317900  healthy

In [7]:
sample_info['Status'].value_counts()

Status
sepsis survivor       96
healthy               36
sepsis nonsurvivor    31
Name: count, dtype: int64

In [8]:
probe_to_gene.head()

             ID  Entrez_Gene_ID
0  ILMN_1725881           23117
1  ILMN_1804174            2213
2  ILMN_1796063           54765
3  ILMN_1811966          653895
4  ILMN_1668162          158833

In [9]:
probe_to_gene[probe_to_gene['ID'] == 'ILMN_1725881']

             ID  Entrez_Gene_ID
0  ILMN_1725881           23117